# Server Config
PORT=

# Database Config (MariaDB/MySQL)
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_CHARSET=

# JWT Config
JWT_SECRET=
JWT_EXPIRATION_HOURS=

# SMTP Config (Gmail)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

# MinIO Config
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=
MINIO_USE_SSL=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# Object Vault Config
OBJ_KEY=

# Keycloak Config
KEYCLOAK_URL=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
